*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root{
    font-size: 62.5%;
}

body {
    background: oklch(28.2% 0.091 267.935);
    font-size: 1.6rem;
    color: white;
}

#page {
    max-width: 1200px;
    margin-inline: auto;
}

header{
    padding-block: 1.5rem; 
}

fieldset{
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.informacoes-pessoais {
    
div{
   margin-bottom: 2rem;
 }
 
 input{
    display: block;
    margin-top: 0.7rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    border: none;
}

input:focus{
    outline: 2px solid greenyellow;
}

input::placeholder{
    color: oklch(70.7% 0.022 261.325);
}

input[type=file]{
    color: white;
}
}

.gostos-pessoais{

}

\\gostos-pessoais ou .gostos-pessoais > div